@font-face {
    font-family: 'THSarabun Bold';
    src: url('THSarabun Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'THSarabun';
    src: url('THSarabun.ttf') format('truetype');
	font-weight: normal;
}

body {
	background-color: black;
	width:1920px;
	height:1080px;
	padding:0px;
	margin:0px;
	background-image: url('display_room.jpg');
	background-repeat: no-repeat;
	
	font-family: 'IrisUPC','BrowalliaUPC';
}

/* ------------------------------------ */

table.headertable {
	width:100%;
	font-size: 50px;
	color: white;
	text-align: left;
}
table.headertable tbody tr td {
	padding:5px;
	
}
table.headertable .pagging { 
	width:250px; 
	font-size: 45px;
}
table.headertable .col0 {
	padding-top:15px;
	font-size: 72px;
	line-height: 65px;
	color: white;
}
table.headertable .col1 {
	width:500px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.headertable .col2 {
	width:230px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.headertable .col3 {
	width:395px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.headertable .col4{

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.headertable .col5 {
	width:500px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.headertable  div.subtitle {
	font-size: 40px;
	margin-top: -23px;
}
.center { text-align: center;}

#clock div { float:left;}
#clock { margin-left: 20px;}
/* ------------------------------------ */

.datatable  .header{

	width:100%;
	margin-left:auto;
	margin-right:auto;
	
	font-size: 45px;
	font-weight:normal;
	
	text-align: center;
}
.datatable   .header  .col{
	float:left;
	margin: 0px;
	margin-top:8px;
	padding: 5px;
	
	color: white;
	/* background-color: rgb(31, 74, 50); */
	/* background-color: rgba(31, 74, 50, 0.7); */
}

.datatable .header .col  div.subtitle {
	font-size: 40px;
	margin-top: -23px;
}

.datatable .col1  {
	width: 250px;
} 
.datatable .col2  {
	width: 500px;
}
.datatable .col3  {
	width: 500px;
}
.datatable .col4  {
	width: 120px;
}
.datatable .col5  {
	width: 100px;
	display:none;
}
.datatable .col6  {
	width: 225px;
}
.datatable .col7  {
	width: 225px;
}
.datatable   .line  {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	
	
}
.datatable   .line  .col{
	font-size: 35px;
	line-height:44px; 
	height: 125px;
	float: left;
	
	color: black;
	
	margin:0px;
	padding: 10px 5px 0px 5px;
	
	margin-bottom:18px;
	overflow:hidden;
}
.datatable   .line.even{
	background-color: rgb(194, 136, 83);
	background-color: rgba(194, 136, 83, 0.7);
}
/* ------------------------------------ */